.card-img-big {
    width: 736px;
    height: 414px;
    border-right:  1px solid #FFE81F ;
    padding: 0;
    border-radius: 5px;
}

.jumbotron {
    background-color: #272727;
    margin: 20px 0px;
    color: #bbb8b8 !important;
    margin-top: 30px;
}

.titulo{
    font-size: 26px;
    padding: 10px;
    margin: 0;
}

.description {
    color: #7e7b7b !important;
    padding: 10px;
    font-size: 16px;
}